* {
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.common-block {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 54px;
}
.swiper-container {
    margin-top: 50px;
}

@media (max-width: 800px) {
    a {
        display: block;
    }
}

@media (max-width: 544px) {
    .swiper-slide img {
        width: 300px;
    }
}